{% extends 'WarrantyLifeApiExampleBundle::layout.html.twig' %}

{% block body %}
<h1>Warranty Life API</h1>

<h3>Current Resources</h3>
<ul>
    <li><a href="{{ path('api_docs_201204') }}">Documentation (Version 201204)</a></li>
    <li><a href="{{ path('apiexample_test_root') }}">Sandbox Testing Tool (Requires Partner Access)</a></li>
</ul>

<h3>Outdated Resources</h3>
<ul>
    <li><a href="{{ path('api_docs_201201') }}">Documentation (Version 201201)</a></li>
</ul>

{% endblock %}
