body {
}

h4 {
    margin-top: 0;
}

div.section {
    border: #000099 1px solid;
    margin: 10px;
    padding: 10px;
}

input[type=text] {
    width: 200px;
}

input[type=text].short {
    width: 40px;
}

textarea {
    width: 400px;
    height: 200px;
}

iframe {
    width: 80%;
    height: 400px;
}

div.submission {
    vertical-align: top;
    display: inline-block;
}

div.generation {
    vertical-align: top;
    display: inline-block;
    border-left: #000099 1px solid;
    padding-left: 10px;
}
