{% extends 'WarrantyLifeApiExampleBundle::layout.html.twig' %}

{% block queries %}
<div class="section">
    <form id="all" method="POST" target="results">
        <input type="hidden" id="all_username" name="username" />
        <input type="hidden" id="all_password" name="password" />
        {{ endpoint }}/warranty-plans
        <br />
        <input type="submit" />
    </form>
</div>

<div class="section">
    <form id="byWarrantyPlanId" method="POST" target="results">
        <input type="hidden" id="byWarrantyPlanId_username" name="username" />
        <input type="hidden" id="byWarrantyPlanId_password" name="password" />
        {{ endpoint }}/warranty-plans/<input type="text" name="warrantyPlanId" placeholder="warrantyPlanId"/>
        <br />
        <input type="submit" />
    </form>
</div>

<div class="section">
    <form id="byCategoryId" method="POST" target="results">
        <input type="hidden" id="byCategoryId_username" name="username" />
        <input type="hidden" id="byCategoryId_password" name="password" />
        {{ endpoint }}/warranty-plans?categoryId=<input type="text" name="categoryId" placeholder="categoryId"/>
        <br />
        <input type="submit" />
    </form>
</div>
{% endblock %}